<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hamster.mapper.ActiveMapper">

	<resultMap id="selectLapCountByMonthResult" type="java.util.HashMap">
        <result property="month" column="month" jdbcType="VARCHAR" />
        <result property="total" column="total" jdbcType="INTEGER"/>
	</resultMap>

    <select id="selectLapCountByMonth" parameterType="Integer"  resultType="java.util.HashMap">
          select
          	to_char(insert_date_time,'yyyy年 MM月') as month,
          	(max(lap_count)-min(lap_count)) as total
          from
          	active
		  where
		  	insert_date_time between to_timestamp('2021-01-01','YYYY-MM-DD') and now()
		  and
		  	hamster_id = #{id}
		  group by month
		  order by month;
    </select>

    <select id="selectLapCountByDay" parameterType="Integer" resultType="java.util.HashMap">
    	select
		 to_char(insert_date_time,'yyyy-MM-DD') as day ,
		 (max(lap_count)-min(lap_count)) as total
		from active
		where
			hamster_id = #{id}
		and
		  	insert_date_time between to_timestamp('2021-01-01','YYYY-MM-DD') and now()
		group by day
		order by day;
    </select>

    <select id="selectScatterByHour" resultType="java.util.HashMap">
    	with temp_t as (
			select max(lap_count)-min(lap_count) as lap_count ,
			to_char(insert_date_time,'YYYY-MM-DD-HH24') as day_time
			from active group by to_char(insert_date_time,'YYYY-MM-DD-HH24') order by to_char(insert_date_time,'YYYY-MM-DD-HH24') desc
		)
		select
			avg(lap_count)::int as lap_count,
			split_part(temp_t.day_time ,'-', 4) as day_time
		from
			temp_t
		group by
			split_part(temp_t.day_time ,'-', 4)
		order by
			to_number(split_part(temp_t.day_time ,'-', 4),'99');
    </select>



</mapper>