<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hamster.mapper.BatActiveDayMapper">
  <resultMap id="BaseResultMap" type="com.example.hamster.entity.BatActiveDay">
    <id column="hamster_id" jdbcType="SMALLINT" property="hamsterId" />
    <id column="active_date" jdbcType="DATE" property="activeDate" />
    <result column="total_lap" jdbcType="INTEGER" property="totalLap" />
    <result column="insert_date_time" jdbcType="TIMESTAMP" property="insertDateTime" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hamster_id, active_date, total_lap, insert_date_time, insert_user
  </sql>
  <select id="selectByExample" parameterType="com.example.hamster.entity.BatActiveDayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from public.bat_active_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.bat_active_day
    where hamster_id = #{hamsterId,jdbcType=SMALLINT}
      and active_date = #{activeDate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from public.bat_active_day
    where hamster_id = #{hamsterId,jdbcType=SMALLINT}
      and active_date = #{activeDate,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.hamster.entity.BatActiveDayExample">
    delete from public.bat_active_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.hamster.entity.BatActiveDay">
    insert into public.bat_active_day (hamster_id, active_date, total_lap, 
      insert_date_time, insert_user)
    values (#{hamsterId,jdbcType=SMALLINT}, #{activeDate,jdbcType=DATE}, #{totalLap,jdbcType=INTEGER}, 
      #{insertDateTime,jdbcType=TIMESTAMP}, #{insertUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hamster.entity.BatActiveDay">
    insert into public.bat_active_day
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hamsterId != null">
        hamster_id,
      </if>
      <if test="activeDate != null">
        active_date,
      </if>
      <if test="totalLap != null">
        total_lap,
      </if>
      <if test="insertDateTime != null">
        insert_date_time,
      </if>
      <if test="insertUser != null">
        insert_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hamsterId != null">
        #{hamsterId,jdbcType=SMALLINT},
      </if>
      <if test="activeDate != null">
        #{activeDate,jdbcType=DATE},
      </if>
      <if test="totalLap != null">
        #{totalLap,jdbcType=INTEGER},
      </if>
      <if test="insertDateTime != null">
        #{insertDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUser != null">
        #{insertUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.hamster.entity.BatActiveDayExample" resultType="java.lang.Long">
    select count(*) from public.bat_active_day
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update public.bat_active_day
    <set>
      <if test="record.hamsterId != null">
        hamster_id = #{record.hamsterId,jdbcType=SMALLINT},
      </if>
      <if test="record.activeDate != null">
        active_date = #{record.activeDate,jdbcType=DATE},
      </if>
      <if test="record.totalLap != null">
        total_lap = #{record.totalLap,jdbcType=INTEGER},
      </if>
      <if test="record.insertDateTime != null">
        insert_date_time = #{record.insertDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insertUser != null">
        insert_user = #{record.insertUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update public.bat_active_day
    set hamster_id = #{record.hamsterId,jdbcType=SMALLINT},
      active_date = #{record.activeDate,jdbcType=DATE},
      total_lap = #{record.totalLap,jdbcType=INTEGER},
      insert_date_time = #{record.insertDateTime,jdbcType=TIMESTAMP},
      insert_user = #{record.insertUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hamster.entity.BatActiveDay">
    update public.bat_active_day
    <set>
      <if test="totalLap != null">
        total_lap = #{totalLap,jdbcType=INTEGER},
      </if>
      <if test="insertDateTime != null">
        insert_date_time = #{insertDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertUser != null">
        insert_user = #{insertUser,jdbcType=VARCHAR},
      </if>
    </set>
    where hamster_id = #{hamsterId,jdbcType=SMALLINT}
      and active_date = #{activeDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hamster.entity.BatActiveDay">
    update public.bat_active_day
    set total_lap = #{totalLap,jdbcType=INTEGER},
      insert_date_time = #{insertDateTime,jdbcType=TIMESTAMP},
      insert_user = #{insertUser,jdbcType=VARCHAR}
    where hamster_id = #{hamsterId,jdbcType=SMALLINT}
      and active_date = #{activeDate,jdbcType=DATE}
  </update>
</mapper>